<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="form-group mx-auto">
        <button class="btn btn-dark btn-block" style="max-width: 640px"
          (click)="toggleWebcam();">Cambiar a Cámara</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam"></webcam>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="form-group mx-auto">
        <button class="btn btn-dark btn-block" style="max-width: 640px"
          (click)="triggerSnapshot();">Tomar</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Status: {{status}} / {{ confidence }}</p>
      <h2>Resultado</h2>
      <div class="form-group" id="textoarea" >
        <textarea rows="7" class="form-control">{{ text }}</textarea>
      </div>
    </div>
  </div>
</div>
<form id="form1" name="form1"type="Submit" name="formdescargar"> 
  
  <br>
  <br>
  <div class="row">
    <!--Boton de Descargar PDF-->
    <div class="col-sm-3 container">
      <div class="">
        <input class="btn btn-dark" id="dwnPdf" (click)="crearPdf()" type="submit" value="Descargar Pdf" /> 
      </div>
      <br>
    </div>
    <!--Boton de Descargar Word-->
    <div class="col-sm-3 container">
      <div class="">
        <input id="dwlddoc" class="btn btn-dark" (click)="Export2Doc('texto', '')" type="button" value="Descargar Word" /> 
      </div>
    </div>
    <br>
    
    <!-- Boton de Descargar TXT-->
    <div class="col-sm-3 container">
      <div class="">
        
        <input id="dwnTxt" class="btn btn-dark" (click)="ExportTxt('texto', 'My Scann OCR')" type="button" value="Descargar Txt" /> 
        
      </div>
    </div>
    
    <!--Boton de BD-->
    <div> 
      <h4>
        Subir A Drive
      </h4>
    <div class="separator" style="clear: both; text-align: center;">
      <a href="http://drive.google.com/" target="_blank">
        <img alt="drive.google.com" border="0" data-original-height="100" data-original-width="100" height="80" src="https://1.bp.blogspot.com/-rJXigg9SN7M/XsnU2sa55WI/AAAAAAAAAVQ/aqx0x8Gih286Zgda7Ctoy3odccODXxstgCLcBGAsYHQ/s200/kisspng-square-triangle-logo-brand-apps-google-drive-5ab0f94705ccb3.3463854415215475910238.png" width="80" /></a></div>
      <div class="separator" style="clear: both; text-align: center;">
      <br /></div>
      <br />
    </div>


    <div class="separator">

    </div>
  </div>
  <div class="contenedor">
		<div class="overlay" id="overlay">
			<div class="popup" id="popup">
				
        <div style="width:50%;height:50%;padding-bottom:50%;position:relative;" >
          <video loop autoplay src="./assets/401.mp4" width="100%" height="100%" style="position:absolute; transform: translateX(40px);"></video>
        </div>
        <br>
        <h1>Oopsis!</h1>
        <p>Casi olvidas ingresar la imagen</p>
        <br>
        <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><p class="btn btn-dark" style="color: white;">Ok! ya entendí 🙄</p></a>
			</div>
		</div>
	</div>
</form> 
<footer class="footer-bs">
  <div class="row col-lg-12">
    <div class="col-md-4 footer-brand animated fadeInLeft">
      <h2><span><img src="https://es.freelogodesign.org/Content/img/logo-samples/flooop.png"height="50%" width="50%" alt=""></span></h2>
                <p>La mejor opción en procesos OCR</p>
                <p>© 2020 MyScann OCR, Todos los derechos reservados</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp text-center">
      <br><br>
      <h4>Menu —</h4>
      <ul class="pages">
        <li><a href="https://neverstopdreaming8.wixsite.com/website/servicio-al-cliente">Ayuda</a></li>
        <li><a href="https://neverstopdreaming8.wixsite.com/website/planes-y-precios">Información y Precios</a></li>
        <li><a href="https://neverstopdreaming8.wixsite.com/website/quienes-somos">Sobre Nosotros</a></li>
        <li><a href="https://drive.google.com/open?id=1mhm6hwukbJepu9SHnGqW8yygTxYOKvPZ">Documentación</a></li>
        
    </ul>
    </div>
    
    <div class="col-md-4 footer-social animated fadeInDown text-center">
      <br><br>
      <h4 style="transform:translateX(25px)">Siguenos</h4>
      <br>
      <ul id="navlist" class="text-center">
        <li id="facebook"><a href="https://www.facebook.com/MyScann-Software-109792824081669"><img src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-icono-de-facebook-logo-by-vexels.png" height="85%" width="85%" alt=""></a></li>
        <li id="twitter"><a href="https://twitter.com/myscannocr"><img src="https://images.vexels.com/media/users/3/137419/isolated/preview/b1a3fab214230557053ed1c4bf17b46c-icono-de-twitter-logo-by-vexels.png" height="85%" width="85%" alt=""></a></li>
        <li id="instagram"><a href="https://www.instagram.com/myscan.ocr/"><img src="https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-icono-de-instagram-logo-by-vexels.png" height="85%" width="85%" alt=""></a></li>
        <li id="youtube"><a href="https://neverstopdreaming8.wixsite.com/website"><img src="https://cdn1.iconfinder.com/data/icons/flat-business-icons/128/browser-512.png" height="85%" width="85%" alt=""></a></li>

      </ul>
     <br>
     <br>
     <br>
      <h4 style="transform:translateX(25px)">O</h4>
      <br>
      <p style="text-align: center; transform: translateX(27px);" ><a id="email" href="mailto:info.myscann@gmail.com" class="btn btn-block">Envíanos un E-mail!</a></p>
      
    </div>
    
    
  
  </div>
   
</footer>