<div class="container mt-3">
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="form-group mx-auto">
        <button class="btn btn-dark btn-block" style="max-width: 640px"
          (click)="toggleWebcam();">Toggle Webcam</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <webcam [trigger]="triggerObservable" (imageCapture)="handleImage($event)"
        *ngIf="showWebcam"></webcam>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 mx-auto">
      <div class="form-group mx-auto">
        <button class="btn btn-dark btn-block" style="max-width: 640px"
          (click)="triggerSnapshot();">Take Snapshot</button>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12">
      <p>Status: {{status}} / {{ confidence }}</p>
      <h2>Result</h2>
      <div class="form-group">
        <textarea rows="7" class="form-control">{{ text }}</textarea>
      </div>
    </div>
  </div>
</div>