<link rel="script" href="ocrbyimage.component.ts">
<div class="container mt-3">
  <div class="row">
    <div class="col-lg-12">
      <div class="form-group text-center">
        
        <input class="form-control" type="file" capture="camera"
          [(ngModel)]="camera" accept="image/*" id="cameraInput"
          name="cameraInput" (change)="onFileSelected($event)">
          
          <label for="cameraInput" class="btn btninput">Subir Archivo</label>
      </div>
      <div class="form-group">
        <button class="btn btn-dark btn-block " type="button"
          (click)="validarImagen('cameraInput')" id="btn-abrir-popup" >¡Hacer OCR!</button>
          <!-- <button id="btn-abrir-popup" class="btn-abrir-popup" (click)="validarImagen()">Abrir Ventana Emergente</button> -->
      </div>
    
      
      <div class="row">
        <div class="col-lg-12">
          <p>Estado de proceso: {{status}} / {{ confidence }}</p>
          <h2>Resultado</h2>
          <div class="form-group" id="textoarea" style="overflow-wrap: break-word; white-space: pre-line;">
            <textarea rows="7" id="texto" class="form-control">{{ text }}</textarea>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container">
  <h4>Introduce acá el nombre con el que deseas guardar el archivo</h4>
</div>
<div class="container" id="nombrepdf">
  <input type="text" id="nombre">
</div> -->
<form id="form1" name="form1"type="Submit" name="formdescargar"> 
  <br>
  <div class="row container text-center">
    <!--Boton de Descargar PDF-->
    <div class="col-sm-3">
      <div class="container">
        <input class="btn btn-dark" id="dwnPdf" (click)="crearPdf()" type="submit" value="Descargar Pdf" /> 
      </div>
      <br>
    </div>
    <!--Boton de Descargar Word-->
    <div class="col-sm-3">
      <div class="container">
        <input id="dwlddoc" class="btn btn-dark" (click)="Export2Doc('texto', 'My Scann OCR')" type="button" value="Descargar Word" /> 
      </div>
    </div>
    <br>
    
    <!-- Boton de Descargar TXT-->
    <div class="col-sm-3">
      <div class="container">
        
        <input id="dwnTxt" class="btn btn-dark" (click)="ExportTxt('texto', 'My Scann OCR')" type="button" value="Descargar Txt" /> 
        
      </div>
    </div>

    <!--<div class="col-sm-3">
      <div class="container">
        <input type="button" value="Clear" id="clear"
        onclick='<META HTTP-EQUIV="Refresh" CONTENT="0;URL=">'> 
      </div>
     
    </div>
     -->
  
  </div>
  <div class="contenedor">
		<div class="overlay" id="overlay">
			<div class="popup" id="popup">
				
        <div style="width:50%;height:50%;padding-bottom:50%;position:relative;" >
          <video loop autoplay src="./assets/401.mp4" width="100%" height="100%" style="position:absolute; transform: translateX(40px);"></video>
        </div>
        <br>
        <h1>Oopsis!</h1>
        <p>Casi olvidas ingresar la imagen</p>
        <br>
        <a href="#" id="btn-cerrar-popup" class="btn-cerrar-popup"><p class="btn btn-dark" style="color: white;">Ok! ya entendí 🙄</p></a>
			</div>
		</div>
	</div>
 </form> 
<footer class="footer-bs">
  <div class="row col-lg-12">
    <div class="col-md-4 footer-brand animated fadeInLeft">
      <h2><span><img src="https://es.freelogodesign.org/Content/img/logo-samples/flooop.png"height="50%" width="50%" alt=""></span></h2>
                <p>La mejor opción en procesos OCR</p>
                <p>© 2020 MyScann OCR, Todos los derechos reservados</p>
    </div>
    <div class="col-md-4 footer-nav animated fadeInUp text-center">
      <br><br>
      <h4>Menu —</h4>
      <ul class="pages">
        <li><a href="https://neverstopdreaming8.wixsite.com/website/servicio-al-cliente">Ayuda</a></li>
        <li><a href="https://neverstopdreaming8.wixsite.com/website/planes-y-precios">Información y Precios</a></li>
        <li><a href="https://neverstopdreaming8.wixsite.com/website/quienes-somos">Sobre Nosotros</a></li>
        <li><a href="https://drive.google.com/open?id=1mhm6hwukbJepu9SHnGqW8yygTxYOKvPZ">Documentación</a></li>
        
    </ul>
    </div>
    
    <div class="col-md-4 footer-social animated fadeInDown text-center">
      <br><br>
      <h4 style="transform:translateX(25px)">Siguenos</h4>
      <br>
      <ul id="navlist" class="text-center">
        <li id="facebook"><a href="https://www.facebook.com"><img src="https://images.vexels.com/media/users/3/137253/isolated/preview/90dd9f12fdd1eefb8c8976903944c026-icono-de-facebook-logo-by-vexels.png" height="85%" width="85%" alt=""></a></li>
        <li id="twitter"><a href="https://www.twitter.com"><img src="https://images.vexels.com/media/users/3/137419/isolated/preview/b1a3fab214230557053ed1c4bf17b46c-icono-de-twitter-logo-by-vexels.png" height="85%" width="85%" alt=""></a></li>
        <li id="instagram"><a href="https://www.instagram.com"><img src="https://images.vexels.com/media/users/3/137380/isolated/preview/1b2ca367caa7eff8b45c09ec09b44c16-icono-de-instagram-logo-by-vexels.png" height="85%" width="85%" alt=""></a></li>
        <li id="youtube"><a href="https://www.youtube.com"><img src="https://images.vexels.com/media/users/3/137425/isolated/preview/f2ea1ded4d037633f687ee389a571086-icono-de-youtube-logo-by-vexels.png" height="85%" width="85%" alt=""></a></li>

      </ul>
     <br>
     <br>
     <br>
      <h4 style="transform:translateX(25px)">O</h4>
      <br>
      <p style="text-align: center; transform: translateX(27px);" ><a id="email" href="mailto:jamesbrosss@gmail.com" class="btn btn-block">Envíanos un E-mail!</a></p>
      
    </div>
    
    
  
  </div>
   
</footer>